.container-fluid{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.test-box{
    border: 1px solid black;
    background-color: teal;
    
}
.intro{
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
}
img{
    float: right;
}
body{
    text-align: left;
    background-image: url(/home/shalyn/Documents/my-portfolio/images/background6.jpeg);  
    background-repeat: no-repeat;  
    background-size: cover;
    color: lavender;
}
.sidebar{
    width: 20%;
    float: right;
    background-color: sienna;
    color: thistle;
    
}.container-fluid a{
    color: lavender;
}